body {
  background-image: url(../../webb-dark.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 50pt
}
h1 {
  margin: 5pt;
  padding: 10pt;
}
h2 {
  padding: 2pt;
  margin: 5pt;
}
p {
  color: pink;
}
nav ul li {
  background: cyan;
  color: orange;
  display: inline-block;
  list-style-type: none;
  padding: 10px 20px;
  margin:auto;
  border-radius: 2rem;
}
footer {
  font-size: 10pt;
}